body {
  font-family: 'Roboto', sans-serif;
  padding-top: 75px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  box-shadow: 0 0 5px 2px #999;
  -moz-box-shadow: 0 0 5px 2px #999;
  -webkit-box-shadow: 0 0 5px 2px #999;
}

.left-section .fa {
  margin-right: 5px;
  font-size: 18px;
  color: #fff;
}

.left-section {
  background: #607D8B;
  left: 0;
  min-height: 1000px;
  color: #fff;
  padding: 0px;
}

.left-section .profile-container {
  padding: 30px;
  background: #455A64;
  text-align: center;
  color: #fff;
}

.left-section a {
  color: #fff;
}

.left-section .name {
  font-size: 22px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 5px;
}

.left-section .tagline {
  color: #CFD8DC;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.left-section .location {
  color: #fff;
}

.left-section .profile {
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
}

.left-section .contact-container {
  padding: 30px;
}

.left-section .contact-container .email .fa {
  font-size: 14px;
}

.left-section .education-container {
  padding: 30px;
}

.left-section .title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.left-section .education-container .education-name {
  font-size: 14px;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0px;
}

.left-section .education-container .education-school {
  color: #CFD8DC;
  margin-bottom: 0px;
  margin-top: 0;
}

.left-section .education-container .education-year {
  color: #CFD8DC;
  font-weight: 500;
}

.left-section .language-container {
  padding: 30px;
}

.left-section .language-container .language-level {
  color: #CFD8DC;
}

.right-section {
  padding: 50px;
  background-color: #FFF;
  min-height: 1000px;
}

.right-section .right-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #212121;
}

.right-section .about-container .about-text {
  font-size: 14px;
  color: #757575;
  margin-top: 20px;
}

.right-section .fa {
  margin-right: 10px;
  font-size: 30px;
  color: #455A64;
  vertical-align: bottom;
}

.right-section .work-container {
  margin-top: 70px;
}

.right-section .work-ul {
  margin-top: 20px;
  padding-left: 15px;
}

.right-section .work-li {
  margin-bottom: -2px;
  padding-bottom: 20px;
  list-style: none;
  padding-left: 20px;
  margin-left: 2px;
  border-left: 1px solid #009688;
}

.right-section .work-li:last-child {
  padding-bottom: 0;
}

.right-section .work-circle {
  /*background-color: rgba(204, 0, 102, 0); hollow - transparent*/
  background-color: #FFF;
  border: 1px solid #009688;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  left: 61px;
}

.right-section .work-li p {
  margin-bottom: 2px;
}

.right-section .work-date {
  font-size: 13px;
  color: #757575;
}

.right-section .work-position {
  font-size: 14px;
  color: #212121;
}

.right-section .work-company {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}

.right-section .work-project {
  font-size: 14px;
  color: #009688;
  display: inline-block;
  padding-right: 10px;
}

.right-section .skills-container {
  margin-top: 70px;
}

.right-section .skills-container .skill {
  margin-top: 20px;
}

.right-section .skills-container .skill-progress {
  display: inline-block;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  width: 150px;
  height: 20px;
  vertical-align: bottom;
}

.years-5 {
  background: linear-gradient(to left, #FFF 20%, #009688 20%);
}

.years-4 {
  background: linear-gradient(to left, #FFF 30%, #009688 30%);
}

.years-3 {
  background: linear-gradient(to left, #FFF 40%, #009688 40%);
}

.years-2 {
  background: linear-gradient(to left, #FFF 50%, #009688 50%);
}

.years-1 {
  background: linear-gradient(to left, #FFF 60%, #009688 60%);
}

.right-section .skill-name {
  width: 85px;
  font-size: 16px;
  color: #212121;
  margin: 0px;
  display: inline-block;
}

.right-section .skill-year {
  margin-left: 10px;
  font-size: 13px;
  color: #757575;
}

.bottom-section {
  border-top: 1px solid #999;
  background-color: #FFF;
  min-height: 300px;
  padding: 0;
  padding-top: 20px;
}

.bottom-section .fa {
  margin-right: 10px;
  font-size: 30px;
  color: #455A64;
  vertical-align: bottom;
}

.bottom-section .bottom-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #212121;
  text-align: center;
}

.owl-carousel {
  padding-top: 10px;
}

.owl-item img {
  height: 300px;
  width: 300px;
}

header {
  position: fixed;
  top: 0;
  height: 75px;
  background-color: #455A64;
  z-index: 99;
  margin-right: -15px;
  margin-left: -15px;
  width: inherit;
  padding: 10px;
  color: #FFF;
  box-shadow: 0 0 5px 2px #999;
  -moz-box-shadow: 0 0 5px 2px #999;
  -webkit-box-shadow: 0 0 5px 2px #999;
}

footer {
  height: 100px;
  background-color: #455A64;
  z-index: 99;
  margin-right: -15px;
  margin-left: -15px;
  width: inherit;
  padding: 10px;
  color: #FFF;
  box-shadow: 0 0 5px 2px #999;
  -moz-box-shadow: 0 0 5px 2px #999;
  -webkit-box-shadow: 0 0 5px 2px #999;
}

.footer-profile {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}

.footer-audio {
  margin-top: 22px;
  margin-left: 16px;
  width: 190px;
  float: left;
}

.footer-btn-video {
  margin-top: 22px;
  margin-left: 16px;
  font-size: 22px;
  float: left;
}

footer a {
  color: #FFF;
}

footer a:hover {
  color: #FFF;
}

footer .fa {
  margin-right: 10px;
}

footer p {
  width: 100%;
}

footer .div-contact {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.bottom-section .input-group {
  margin-bottom: 20px;
}

.modal-dialog {
  width: 60%;
}

.product-item {
  max-width: 370px;
  margin: 5px;
  padding: 20px;
  border: 1px solid #ccc!important;
  border-radius: 16px;
  text-align: center;
}

table img {
  max-width: 100%;
}


/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
  .right-section .skill-year {
    display: block;
    margin-left: 0;
  }
  .right-section .skills-container .skill-progress {
    width: 100%;
  }
  header {
    width: 100%;
  }
  footer .div-contact {
    visibility: hidden;
  }
  .footer-audio {
    width: 155px;
  }
  .modal-dialog {
    width: auto;
  }
  .navbar-text {
    margin-left: 15px;
  }
}